<section class="flex w-full h-full ">

  <aside class="sticky w-3/8 h-full flex flex-col justify-between left-0 bottom-0 pt-2 px-2">

    <section class="overflow-y-scroll h-full">
      <article>
        <button *ngFor="let chapter of chapters" [routerLink]="['/meeting/chapters/' + chapter.id]" routerLinkActive="bg-basic-light" class="p-5 h-20 w-full bg-white hover:bg-basic-light rounded flex flex-col justify-items-start items-center shadow-raised my-1 break-all overflow-hidden">
          {{ chapter.title }}
        </button>
      </article>
    </section>

  </aside>

  <main class="h-7/8 w-5/8 fixed right-0 bottom-0">

    <router-outlet></router-outlet>

  </main>

</section>
