
<ng-container *ngIf="meeting.state == null; else Launched">

  <mat-accordion *ngIf="!isForm; else Form">
    <chapter-details *ngFor="let chapter of chapters; let i = index"
      [chapter]="chapter"
      [meeting]="meeting"
      [index]="i"
      (update)="onChapterUpdate($event)"
      (remove)="onChapterRemove($event)">
    </chapter-details>
  </mat-accordion>

  <span class="sticky bottom-0 float-right mr-5">
    <button mat-fab color="accent">
      <mat-icon (click)="toggleForm()">{{ isForm ? 'close' : 'add' }}</mat-icon>
    </button>
  </span>

  <ng-template #Form>
    <chapter-form [meeting]="meeting" (new)="onNewChapter($event)"></chapter-form>
  </ng-template>

</ng-container>

<ng-template #Launched>

  <mat-accordion>
    <chapter-details *ngFor="let chapter of chapters; let i = index"
      [chapter]="chapter"
      [meeting]="meeting"
      [index]="i"
      (update)="onChapterUpdate($event)">
    </chapter-details>
  </mat-accordion>

</ng-template>
