<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> HOME </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <section routerLink="/">HOME</section>
  <section routerLink="/error">ERROR</section>
  <section routerLink="/meeting">MEETING</section>
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://ionicframework.com/docs/components"
  >UI Components</a>
</ion-content>
