<section class="h-full overflow-hidden w-full flex flex-col justify-center items-center">
  <div class="w-5/6 flex justify-between h-1/8">
    <div class="w-1/2 text-gray-700 font-bold flex justify-center items-center">
      <p>{{ meeting.meetingType.title }}</p>
    </div>
    <div class="w-1/2 text-gray-700 font-bold flex justify-center items-center">
      <p>{{ meeting.date.toLocaleString() }}</p>
    </div>
  </div>

  <div class="w-5/6 overflow-y-auto h-96 p-8 m-4">

    <meeting-chapter *ngFor="let chapter of meeting.chapters" [chapter]="chapter"></meeting-chapter>

    <div class="w-full text-center">
      <button
        type="button"
        (click)="toggleForm()"
        id="addChapter"
        class="w-full text-3xl bg-gray-400 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
      >
        +
      </button>
    </div>

    <meeting-question [showQuestion]="showForm"></meeting-question>

  </div>

  <div class="w-full flex justify-evenly items-center text-center h-1/8">
      <button class="bg-green-600 hover:bg-green-500 text-white font-bold w-1/6 h-4/6 rounded">
        LANCER
      </button>
      <button class="bg-yellow-300 hover:bg-yellow-500 text-white font-bold w-1/6 h-4/6 rounded">
        CONVOQUER
      </button>
      <button class="bg-red-600 hover:bg-red-400 text-white font-bold w-1/6 h-4/6 rounded">
        ANNULER
      </button>
  </div>
</section>
