<ng-container *ngIf="question; else Loading">
  <form #form="ngForm" *ngIf="question.state == true; else Pending" class="flex flex-col justify-center items-center">

    <mat-card-header class="my-2 flex flex-col justify-center items-center">
      <mat-card-title class="text-center">{{ question.title }}</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="answer" class="overflow-y-scroll my-6 max-h-80 w-9/10">
      <mat-radio-group class="flex flex-col justify-evenly items-start" name="answer" [(ngModel)]="answer.choice">
        <mat-radio-button class="m-2" *ngFor="let choice of question.choices" [value]="choice" name="answer">
          {{ choice.title }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

    <mat-card-footer class="w-5/6" *ngIf="answer">
      <footer class="my-6 w-full flex justify-evenly items-center space-x-5">

        <button mat-raised-button *ngIf="answer.choice; else NoChoice" (click)="saveAnswer()" class="w-64 tracking-widest" color="primary">
          VALIDER
        </button>
        <button mat-raised-button (click)="saveAbstention()" class="w-60 tracking-widest" color="accent">
          ABSTENTION
        </button>

        <ng-template #NoChoice>
          <button mat-raised-button class="w-64 tracking-widest" disabled>
            VALIDER
          </button>
        </ng-template>

      </footer>
    </mat-card-footer>

  </form>
</ng-container>

<ng-template #Pending>

  <form class="flex flex-col justify-center items-center">

  <mat-card-header class="my-2 flex flex-col justify-center items-center">
    <mat-card-title class="text-center">{{ question.title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="overflow-y-scroll my-6 max-h-80 w-9/10">
    <mat-radio-group *ngIf="answer" class="flex flex-col justify-evenly items-start" name="answer">
      <mat-radio-button class="m-2" *ngFor="let choice of question.choices" selected="false" name="answer" disabled>
        {{ choice.title }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>

  <mat-card-footer class="w-5/6">
    <footer class="my-6 w-full flex justify-evenly items-center space-x-5">
      <button mat-raised-button class="w-64 tracking-widest" disabled>
        VALIDER
      </button>
      <button mat-raised-button class="w-60 tracking-widest" disabled>
        ABSTENTION
      </button>
    </footer>
  </mat-card-footer>

  </form>

</ng-template>

<ng-template #Loading>
  <section class="h-full w-full">
    <mat-spinner></mat-spinner>
  </section>
</ng-template>
