<section class="flex w-full h-full bg-gray-100">

  <section class="sticky w-2/8 h-full flex flex-col justify-between left-0 bottom-0 pt-2 px-2">

    <button mat-flat-button color="accent" [routerLink]="['/admin/meetings/new']" class="text-white tracking-widest w-full h-12 rounded-lg">
      NOUVELLE REUNION
    </button>

    <section class="overflow-y-scroll h-full">
      <meeting-summary *ngFor="let meeting of meetings" [meeting]="meeting"></meeting-summary>
    </section>

  </section>
  
  <section class="h-7/8 w-6/8 fixed right-0 bottom-0">

    <router-outlet></router-outlet>

  </section>

</section>
