<mat-card class="h-full w-full">
  <section *ngIf="chapter; else Loading" class="p-5 overflow-y-scroll h-full w-full flex flex-col justify-start items-center">

    <mat-card-header>
      <header class="p-10 flex flex-col justify-center items-center">
        <section class="my-5">
          <mat-card-title class="text-center uppercase">{{ chapter.title }}</mat-card-title>
        </section>
        <section class="my-5">
          <mat-card-subtitle class="text-center">{{ chapter.description }}</mat-card-subtitle>
        </section>
      </header>
    </mat-card-header>

    <mat-card-actions *ngIf="chapter.question" class="w-full">
      <chapter-question [question]="chapter.question" (click)="service.emitDialog({ question: chapter.question.id })"></chapter-question>
    </mat-card-actions>

  </section>
</mat-card>

<ng-template #Loading>
  <ng-container class="h-screen w-screen">
    <mat-spinner></mat-spinner>
  </ng-container>
</ng-template>
