<mat-expansion-panel>

  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ index + 1 }}. {{ chapter.title }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-container *ngIf="meeting.state == null; else Launched">
    <form #form="ngForm" class="w-full">

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Titre</mat-label>
        <input matInput type="text" name="title" [(ngModel)]="chapter.title" required>
        <mat-error *ngIf="!chapter.title">Champ obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="chapter.description"></textarea>
      </mat-form-field>

      <section *ngIf="chapter.question; else NoQuestion">

        <section class="w-full">
          <mat-form-field appearance="outline" class="w-19/20">
            <mat-label>Question</mat-label>
            <input matInput type="text" name="question" [(ngModel)]="chapter.question.title">
          </mat-form-field>
          <button (click)="chapter.question = null" title="Supprimer la question" class="w-1/20">
            <mat-icon color="warn">close</mat-icon>
          </button>
        </section>

        <section class="w-8/10" *ngFor="let choice of chapter.question.choices; index as i">
          <mat-form-field appearance="outline" class="w-19/20">
            <mat-label>Choix #{{ i + 1 }}</mat-label>
            <input matInput type="text" [value]="choice.title" disabled>
          </mat-form-field>
          <button (click)="removeChoice(choice.id)" title="Supprimer le choix" class="w-1/20">
            <mat-icon color="warn">close</mat-icon>
          </button>
        </section>

        <section class="w-8/10">
          <mat-form-field appearance="outline" class="w-19/20">
            <mat-label>Ajouter un Choix</mat-label>
            <input matInput type="text" name="choice"
              [matAutocomplete]="auto"
              [ngModel]="newChoice.title"
              (ngModelChange)="changeOptions($event)"
            >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of service.choiceOptions$ | async" (click)="setChoice(option)" [value]="option.title">
                {{ option.title }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button (click)="addNewChoice()" class="w-1/20">
            <mat-icon>add</mat-icon>
          </button>
        </section>

      </section>

      <ng-template #NoQuestion>
        <button mat-raised-button class="w-full" (click)="createQuestion()">AJOUTER QUESTION</button>
      </ng-template>


      <mat-action-row>
        <button mat-button (click)="onUpdate()" color="primary">ENREGISTRER</button>
        <button mat-button (click)="onCancel()">ANNULER</button>
        <button mat-button (click)="onRemove()" color="warn">SUPPRIMER</button>
      </mat-action-row>

    </form>
  </ng-container>

  <ng-template #Launched>
    <form #form="ngForm" class="w-full">

      <section class="mt-2 mb-10">{{ chapter.description }}</section>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Compte Rendu</mat-label>
        <textarea matInput name="summary" [(ngModel)]="chapter.summary" (change)="onUpdate()"></textarea>
      </mat-form-field>

    </form>

    <mat-action-row>
      <ng-container *ngIf="meeting.state == true">
        <ng-container *ngIf="chapter.question">
          <ng-container *ngIf="chapter.question.state == true; else Ended">
            <button mat-button disabled>LANCER</button>
            <button mat-button (click)="endVote()" color="warn">CLOTÛRER</button>
          </ng-container>
        </ng-container>
        <ng-template #Ended>
          <button mat-button (click)="startVote()" color="accent">LANCER</button>
          <button mat-button disabled>CLOTÛRER</button>
        </ng-template>
      </ng-container>
      <button mat-button (click)="onUpdate()" color="primary">ENREGISTRER</button>
      <button mat-button (click)="onCancel()">ANNULER</button>
    </mat-action-row>

  </ng-template>

</mat-expansion-panel>
