<mat-expansion-panel>

  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ chapter.title }}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form #form="ngForm" class="w-full" *ngIf="chapter.state == null; else Launched">

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Titre</mat-label>
      <input matInput type="text" name="title" [(ngModel)]="chapter.title" required>
      <mat-error *ngIf="!chapter.title">Champ obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Description</mat-label>
      <textarea matInput name="description" [(ngModel)]="chapter.description"></textarea>
    </mat-form-field>

    <mat-action-row>
      <button mat-button (click)="onUpdate()" color="primary">Enregistrer</button>
      <button mat-button (click)="onCancel()">Annuler</button>
      <button mat-button (click)="onRemove()" color="warn">Supprimer</button>
    </mat-action-row>

  </form>

  <ng-template #Launched>
    <form #form="ngForm" class="w-full">

      <section class="mt-2 mb-10">{{ chapter.description }}</section>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Compte Rendu</mat-label>
        <textarea matInput name="summary" [(ngModel)]="chapter.summary" (change)="onUpdate()"></textarea>
      </mat-form-field>

    </form>

    <mat-action-row>
      <button mat-button (click)="onUpdate()" color="primary">Enregistrer</button>
      <button mat-button (click)="onCancel()">Annuler</button>
      <button mat-button disabled>Supprimer</button>
    </mat-action-row>
  </ng-template>

</mat-expansion-panel>
