<mat-card>

  <mat-card-header>
    <mat-card-title>
      NOUVEAU CHAPITRE
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #form="ngForm" class="w-full">

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Titre</mat-label>
        <input matInput type="text" name="title" [(ngModel)]="chapter.title" required>
        <mat-error *ngIf="!chapter.title">Champ obligatoire</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="chapter.description"></textarea>
      </mat-form-field>

      <section *ngIf="chapter.question; else NoQuestion">

        <section class="w-full">
          <mat-form-field appearance="outline" class="w-19/20">
            <mat-label>Question</mat-label>
            <input matInput type="text" name="question" [(ngModel)]="chapter.question.title">
          </mat-form-field>
          <button (click)="chapter.question = null" title="Supprimer la question" class="w-1/20">
            <mat-icon color="warn">close</mat-icon>
          </button>
        </section>

        <section class="w-8/10" *ngFor="let choice of chapter.question.choices; let i = index">
          <mat-form-field appearance="outline" class="w-19/20">
            <mat-label>Choix #{{ i + 1 }}</mat-label>
            <input matInput type="text" [value]="choice.title" disabled>
          </mat-form-field>
          <button (click)="removeChoice(choice.id)" title="Supprimer le choix" class="w-1/20">
            <mat-icon color="warn">close</mat-icon>
          </button>
        </section>

        <section class="w-8/10">
          <mat-form-field appearance="outline" class="w-19/20">
            <mat-label>Ajouter un Choix</mat-label>
            <input matInput type="text" name="choice" [(ngModel)]="newChoice.title">
          </mat-form-field>
          <button (click)="addChoice()" class="w-1/20">
            <mat-icon>add</mat-icon>
          </button>
        </section>

      </section>

      <ng-template #NoQuestion>
        <button mat-raised-button class="w-full" (click)="createQuestion()">AJOUTER QUESTION</button>
      </ng-template>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button *ngIf="chapter.title; else Required" (click)="newChapter()" color="primary">ENREGISTRER</button>
    <button mat-button (click)="clearChapter()">EFFACER</button>

    <ng-template #Required>
      <button mat-button disabled>ENREGISTRER</button>
    </ng-template>
  </mat-card-actions>

</mat-card>
