<!-- REUNION TERMINEE -->
<main *ngIf="service.meeting.state == false; else LobbyNull" class="h-full w-full flex flex-col justify-center items-center text-center">
  <p>Cette réunion est terminée.</p>
  <p>Nous vous remercions de votre participation !</p>
</main>
<!-- / REUNION TERMINEE -->

<!-- REUNION EN ATTENTE -->
<ng-template #LobbyNull>
  <main class="h-full w-full flex flex-col justify-center items-center text-center">
    <p>La réunion n'a pas encore commencé.</p>
    <p>Veuillez revenir le {{ service.meeting.date | date:'d MMM Y' }} à {{ service.meeting.date | date:'HH:mm' }}</p>
  </main>
</ng-template>
<!-- / REUNION EN ATTENTE -->
