<div class="flex w-full h-6/8 m-0 top-10 p-10">
  <aside class="sticky w-3/12 h-full flex flex-col left-0 bottom-0 pt-2 px-2">

<!-- boucle sur les chapitres = affichage des données souhaitées -->
  <main *ngFor="let chapter of chapters">
    <section class="w-8/8 shadow bg-white rounded">
      <div class="tabs">
        <div class="border-b tab">
          <div class="border-l-2 border-transparent relative">
            <input class="absolute z-10 cursor-pointer opacity-0 h-5 top-6" type="checkbox" id="chck1">

              <header class="flex justify-between items-center p-2 pl-8 pr-8 cursor-pointer select-none tab-label" for="chck1">
                <span class="text-grey-darkest font-thin text-xl">Chapitre <span id="chapter">{{ chapter.id }}</span>
                </span>
                  <div [routerLink]="['/meeting/chapters/' + chapter.id]" class="rounded-full border border-grey w-7 h-7 flex items-center justify-center test">
<!-- icon by feathericons.com -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                      <polyline points="9 18 15 12 9 6">
                      </polyline>
                    </svg>
                  </div>
              </header>

                <div class="tab-content">
                  <div class="pl-8 pr-8 pb-5 text-grey-darkest">
                    <div id="description" class="flex justify-between m-2">
                      <div>
                        {{ chapter.description }}
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
  </section>
</main>
