<section class="md: h-7/8 md: w-full -lg flex justify-center items-center">
  <!-- Div qui héberge le résultat des votes + l'état de la mention -->
  <div class="h-4/8 w-3/8 overflow-y-auto">
    <!-- Balise chapter-result qui affiche le résultat des votes -->
    <chapter-result [chapter]="chapters[0]"></chapter-result>
  </div>
</section>


<style>
  .tab {
  overflow: hidden;
}
.tab-content {
  max-height: 0;
  transition: all 0.5s;
}
input:checked + .tab-label .test {
  background-color: #000;
}
input:checked + .tab-label .test svg {
  transform: rotate(180deg);
  stroke: #fff;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
}

</style>
