<form #form="ngForm" class="h-full w-full flex flex-col justify-center items-center">

  <section class="w-5/6 flex justify-around items-end h-8/10">

    <section class="w-8/20 h-full text-lg tracking-widest flex justify-center items-center">
      <select class="w-full outline-none bg-transparent" name="meetingType" [(ngModel)]="meeting.meetingType">

        <option [ngValue]="undefined" disabled selected>
          Sélectionner le type de Réunion
        </option>

        <ng-container *ngFor="let meetingType of service.meetingTypes">
          <option [ngValue]="meetingType">
            {{ meetingType.title }}
          </option>
        </ng-container>

      </select>
    </section>

    <section class="w-6/20 h-full text-lg tracking-widest flex justify-center items-center">
      <input class="w-full outline-none bg-transparent" name="datetime" type="datetime-local" [(ngModel)]="meeting.date">
    </section>

  </section>

  <section class="w-4/6 flex justify-between items-center h-1/10">
    <button mat-raised-button (click)="onSubmit()" class="h-4/6 w-10/20 tracking-widest text-gray-900" color="primary">
      ENREGISTER
    </button>
    <button mat-raised-button (click)="resetMeeting()" class="h-4/6 w-9/20 tracking-widest text-gray-900" color="warn">
      EFFACER
    </button>
  </section>

</form>
