<ng-container *ngIf="question && answer">
  <form #form="ngForm" *ngIf="question.state; else Pending">

    <ion-list>
      <ion-radio-group name="choice" [(ngModel)]="answer.choice">
        <ion-list-header>
          <ion-label>{{ question.title }}</ion-label>
        </ion-list-header>
    
        <ion-item *ngFor="let choice of question.choices">
          <ion-label>{{ choice.title }}</ion-label>
          <ion-radio slot="start" name="choice" [value]="choice"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button color="primary" [disabled]="!answer.choice" expand="block" (click)="saveAnswer()">
      VALIDER
    </ion-button>

    <ion-button color="warning" expand="block" (click)="saveAbstention()">
      ABSTENTION
    </ion-button>

  </form>
</ng-container>

<ng-template #Pending>
  <form>

    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>{{ question.title }}</ion-label>
        </ion-list-header>
    
        <ion-item *ngFor="let choice of question.choices">
          <ion-label>{{ choice.title }}</ion-label>
          <ion-radio slot="start" [value]="choice" disabled></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button expand="block" disabled>
      VALIDER
    </ion-button>

    <ion-button expand="block" disabled>
      ABSTENTION
    </ion-button>

  </form>
</ng-template>